Package: com.hjk.redditwallpaper
Name: RedditWallpaper
Depends: mobilesubstrate, preferenceloader, libactivator
Version: 1.0.0
Architecture: iphoneos-arm
Description: Sets your wallpaper to an image from a subreddit
Maintainer: hjk
Author: hjk
Section: Tweaks
Icon: file:///Library/PreferenceBundles/RedditWallpaper.bundle/RedditWallpaper@2x.png
