<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable Reddit Wallpaper?</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hjk.redditwallpaper</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>ENABLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Which subreddit?</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
    		<string>/r/</string>
			<key>defaults</key>
			<string>com.hjk.redditwallpaper</string>
			<key>key</key>
			<string>subreddit</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Activation Methods</string>
			<key>isController</key>	
			<true/>
			<key>bundle</key> 
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.hjk.redditwallpaper.activator</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTextCell</string>
			<key>label</key>
			<string>Made by HJK</string>
		</dict>
	</array>
	<key>title</key>
	<string>RedditWallpaper</string>
</dict>
</plist>
